// menu para el responsive en ipad y mobile 
@media screen and (max-width: 961px){
    header {
        .menu-mobile {
            display: inline-flex;
            flex-direction: column;
            
            svg {
                display: inline;
            }
    
            div {
                background-color: white;
                display: none;
                position: absolute;
                left: 0px;
                @include tamaño (200px, 100vh)
            }
    
            &:hover div {
                display: inline;  
            }
        }
    }
}
