
#inicio {
    width: 100%;
    padding: 10%;
    text-align: center;
    color: rgb(255, 255, 255);

    /*fondo*/
    @include background (block, "../src/fotos/neon.webp" );
    background-attachment: fixed;

    /*textos*/
    h1 {
        padding-top: 100px;
        @include h-text (10, white);
        word-wrap:break-word;
    }

    h4 {
        font-size: $size *1.7; 
    }
}

header {
    @include espacios(0 0 20px 0, 25px 20px );
    @include sticky (0%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.096);
    
    z-index: 4;
    background-color: white;

    nav {
        div {
            @include flex (row, space-between);
            align-items: center;

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: black
                }
            }

            .menu-paginas {
                @include flex (row, start);
                align-items: center;

                .clickshare {
                    font-size: 30px;
                    margin-right: 30px
                }

                .items-menu {
                    @include flex (row, start);
                    padding-left: 0px;
                    margin-bottom: 0px;

                    li {
                        @include flex (row, center);
                        align-items: center;
                        @include tamaño (100px, 40px);
                        border-radius: 4px;
                        transition: all 0.2s;
                    }

                }
            }
            
            

            .espacio {
                width: 200px;
            }

        }
    }
}

